@import './variable.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
  }

  @font-face {
    font-family: cabincondensed;
    src: url('../fonts/cabincondensed_regular.ttf'), format('truetype');
    font-weight: 400;
  }

  @font-face {
    font-family: cabincondensed;
    src: url('../fonts/cabincondensed_medium.ttf'), format('truetype');
    font-weight: 500;
  }

  @font-face {
    font-family: cabincondensed;
    src: url('../fonts/cabincondensed_semibold.ttf'), format('truetype');
    font-weight: 600;
  }

  @font-face {
    font-family: cabincondensed;
    src: url('../fonts/cabincondensed_bold.ttf'), format('truetype');
    font-weight: 700;
  }
}


@layer components {
  .footer_link_container {
    @apply flex flex-col;
  }

  .footer_links {
    @apply mt-6 text-sm-text w-max;
  }

  .footer_link_title {
    @apply text-2xl font-semibold text-md-text;
  }

  .icons {
    @apply hover:scale-95 duration-200 w-[40px] h-[40px] lg:w-[50px] lg:h-[50px] cursor-pointer;
  }
}